extends ../layout
block content
  artcle
    form(action='/topic/add' method='POST')
      p
        input(type='text' name='title' placeholder='title')
      p
        input(type='text' name='author' placeholder='author')
      p
        textarea(name='description' placeholder='description')
      p
        input(type='submit')
