extends ../layout
block content
  artcle
    - rid = encodeURIComponent(topic['@rid'])
    form(action='/topic/'+rid+'/edit' method='POST')
      p
        input(type='text' name='title' placeholder='title' value=topic.title)
      p
        input(type='text' name='author' placeholder='author' value=topic.author)
      p
        textarea(name='description' placeholder='description')
          =topic.description
      p
        input(type='submit')
